@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Squada+One&display=swap");
@import "tailwindcss";

@theme {
  /* Google Fonts */
  --font-roboto: "Roboto Slab", "serif";
  --font-squada: "Squada One", sans-serif;

  /* Custom Colors */
  --color-chocolate: #2c2721;
  --color-dark-blue: #1c2743;
  --color-bright-orange: #fd9563;
  --color-light-gray: #838383;
  --color-light-beige: #fcf4ea;

  /* Font Sizes */
  --text-3xl: 3.625rem; /* 58px */
  --text-2xl: 2.3125rem; /* 37px */
  --text-xl: 1.125rem; /* 18px */
  --text-lg: 1.0625rem; /* 17px */
  --text-sm: 0.875rem; /* 14px */

  /* Letter Spacing */
  --tracking-2xl: 0.125rem; /* 2px */
  --tracking-xl: 0.1125rem; /* 1.8px */
  --tracking-lg: 0.0625rem; /* 1px */
  --tracking-sm: 0.0375rem; /* 0.6px */

  /* Custom Radius*/
  --rounded-xl: 1rem;
  --rounded-sm: 0.13rem;
}

@layer components {
  .style {
    input,
    select {
      font-size: var(--text-sm);
      letter-spacing: var(--tracking-sm);
    }
  }
}
body {
  @apply bg-light-beige overscroll-none;
}
#root,
body,
html {
  @apply h-full;
}
html,
body {
  @apply m-0 p-0;
}
